name: GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/main.yml'
      - 'packages/agency-blog-modern/**'
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    env:
      NODE_OPTIONS: '--max_old_space_size=4096'
      GATSBY_DISQUS_NAME: ${{ secrets.GATSBY_DISQUS_NAME }}
      GOOGLE_ANALYTICS_TRACKING_ID: ${{ secrets.GOOGLE_ANALYTICS_TRACKING_ID }}
      SITE_URL: ${{ secrets.SITE_URL }}
      MAILCHIMP_ENDPOINT: ${{ secrets.MAILCHIMP_ENDPOINT }}
    steps:
      - name: Checkout branch
        uses: actions/checkout@v4

      - name: Setup kernel for gatsby, increase watchers
        run: echo fs.inotify.max_user_watches=524288 | sudo tee -a /etc/sysctl.conf && sudo sysctl -p

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '14'

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build
        run: bun run build:agency-modern -- --prefix-paths

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./packages/agency-blog-modern/public
          cname: bursaengellilerkulturdernegi.com
